<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/women"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WomenSafetyApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity android:name=".registerActivity"   android:exported="true"/>
        <activity android:name=".register1Activity"  android:exported="true"/>
        <activity android:name=".register2Activity"  android:exported="true"/>
        <activity android:name=".loginActivity"      android:exported="true"/>
        <activity android:name=".Dashboard1"         android:exported="true">
<!--           intent filter: need to change to main activity kept due to login error-->


        </activity>
        <activity android:name=".Helpline"         android:exported="true"/>
        <activity android:name=".Contacts"         android:exported="true">

        </activity>
        <activity android:name=".TrackLocation"         android:exported="true"/>







    </application>

</manifest>